@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
	min-height: 100vh;
	background-image: linear-gradient(to bottom, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	background-repeat: no-repeat;
	background-size: cover;
}
.headerLayout {
	@apply flex justify-between w-3/4 h-20 mt-7 mx-auto p-3 rounded-lg border-[3px] border-HeaderOutline
	md:w-1/2 md:h-32 md:p-5;
}
.gameTable {
	@apply bg-Triangle bg-contain bg-no-repeat h-64 w-64 mx-auto mt-20 relative
	md:h-80 md:w-80;
}
.gameStarted {
	@apply w-64 h-64 mx-auto mt-20 flex justify-between text-white text-xs tracking-widest uppercase
	md:w-96 md:h-96 md:text-base;
}
.rulesButton {
	@apply px-7 py-1 rounded-lg border text-white tracking-widest;
}
.rulesModal {
	@apply bg-white mx-auto h-screen flex flex-col items-center p-16 justify-center space-y-10
	md:w-3/12 md:h-96 md:absolute md:inset-32 md:rounded-lg md:z-10 md:p-5;
}
.optionsBaseClass {
	@apply absolute flex justify-center rounded-full ring-[10px] bg-gray-300 md:ring-[13px] md:border-t-[6px] md:border-gray-400 md:w-[105px] md:h-[105px];
}
.imgPick {
	@apply w-20 h-20 p-5 rounded-full bg-white ring-[13px] md:w-28 md:h-28;
}
