@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
	min-height: 100vh;
	background-image: linear-gradient(to bottom, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	background-repeat: no-repeat;
	background-size: cover;
}
.headerLayout {
	@apply flex justify-between w-3/4 h-20 mt-7 mx-auto p-3 rounded-lg border-[3px] border-HeaderOutline;
}
.gameTable {
	@apply bg-Triangle bg-contain bg-no-repeat h-64 w-64 mx-auto mt-20 relative;
}
.rulesButton {
	@apply px-7 py-1 rounded-lg border text-white tracking-widest
}
.rulesModal {
	@apply bg-white mx-auto h-screen flex flex-col items-center p-16 justify-between space-y-10
}